node_modules
public/hot
public/storage
src/public/js/
src/public/css
src/storage/*.key
src/storage/*.index
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
src/storage/app
src/storage/framework
src/storage/logs